
// SECTION ENTRAR EM CONTATO
.containercontato {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Adicione esta linha */
    padding: 0 20px; /* Adicione este espaçamento */
  }
}

.contentcontato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  button:hover{
    background-color: #f47616 !important;
  }
}


.titulocontato {
  margin-bottom: 50px;

  p:nth-of-type(1) {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 5rem;
    margin-bottom: 10px !important;
    color: #ff5700;
    margin-top: 20px;
    font-weight: 600;
  }

  p:nth-of-type(2) {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.25rem;
    color: #927d7d;
    font-weight: 400;
    color: black;
  }
  p:nth-of-type(3) {
    text-align: center;
    font-size: 1.4rem;
    padding: 0.25rem;
    color: #927d7d;
    font-weight: 400;
    color: rgb(31, 30, 30);
  }
}
.error{
  margin-bottom: 20px;
}
.formcontato {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 2px solid transparent;
  input,
  textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    background-color: #f36c04;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    width: 200px;
    margin-bottom: 20px;
    
  }
  p{
    font-size: 1.2rem;
    font-weight: 600;
    color: #888;
  }
  button:hover{
    background-color: #f47616 !important;
  }
}

.socialiconscontato {
  display: block;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-left: 60px;
  div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    svg {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      color: #f36c04;
    }

    p {
      font-size: 1.2rem;
    }
   
  }
  div:nth-of-type(2){
    
    p:nth-of-type(2){
      margin-left: 5px;
    }

  }
  div:nth-of-type(3){
    
    p:nth-of-type(2){
      margin-left: 5px;
    }
    p:nth-of-type(3){
      margin-left: 5px;
    }
  }
}

@media (max-width: 768px) {
  .titulocontato {
    margin-bottom: 20px;

    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .formcontato {
    button{
      padding: 10px 15px;
      font-size: 1rem;
    }
    
    input:nth-of-type(1),
    input:nth-of-type(2) {
      width: 100%;
    }
  }
  
  .socialiconscontato {
    margin-left: 0 !important;
    
  }
}
