.scrolltotopbutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #e6903a;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 9999999;
}

.scrolltotopbutton.visible {
  opacity: 1;
}
