/* Exemplo de estilos CSS */

/* Estilos para o alerta personalizado */
.alert {
  background-color: #ff0000;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 2rem;
}
.toast{
  font-size: 1.5rem !important;
}
